.menu {
  display: none;
}

.contacts {
  display: none;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px solid #ececec;

  &__btn {
    background-color: transparent;
    border: none;
    padding: 0;
  }

  &__mobile-icon {
    width: 40px;
    height: 40px;
    fill: #212121;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// .header__nav {
//   display: flex;
//   align-items: center;
// }

// .menu {
//   display: flex;
//   align-items: center;
// }

// .menu__item {
//   & .menu__current {
//     color: var(--accent-color);
//   }

//   &:not(:last-child) {
//     margin-right: 50px;
//   }
// }

// .logo {
//   margin-right: 93px;
// }

// .contacts {
//   margin-left: auto;

//   & .contacts__link {
//     display: inline-flex;
//     padding-top: 32px;
//     padding-bottom: 32px;
//   }

//   & a {
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     color: var(--dominante-color);
//     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   }
// }

// .menu,
// .contacts {
//   display: flex;
//   margin-top: 0;
//   margin-bottom: 0;
//   padding: 0;
// }

// .contacts__link:hover,
// .contacts__link:focus {
//   color: var(--accent-color);
//   fill: var(--accent-color);
// }

// .contacts__item {
//   .contacts & {
//     display: inline-flex;
//     align-items: center;
//   }

//   &:focus,
//   &:hover {
//     color: var(--accent-color);
//     fill: var(--accent-color);
//   }
// }

// .contacts__item:hover .contacts__icon,
// .contacts__item:focus .contacts__icon {
//   color: var(--accent-color);
//   fill: var(--accent-color);
// }

// .contacts__link:focus .contacts__icon,
// .contacts__link:hover .contacts__icon {
//   color: var(--accent-color);
//   fill: var(--accent-color);
// }

// .contacts__icon:hover,
// .contacts__icon:focus {
//   fill: var(--accent-color);
// }

// .contacts .contacts__icon {
//   display: inline-flex;
// }

// .contacts .contacts__icon {
//   display: inline-flex;
// }

// .menu__link {
//   position: relative;
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--main-color);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//   }
// }

// .menu__current::after {
//   content: '';
//   width: 100%;
//   height: 4px;
//   position: absolute;
//   bottom: -32px;
//   left: 0;
//   background: var(--accent-color);
//   border-radius: 2px;
//   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
// }

// .contacts__item:not(:first-child) {
//   margin-left: 50px;
// }

// .contacts__link {
//   font-weight: 500;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.02em;
//   color: var(--dominante-color);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   &:hover,
//   &:focus {
//     color: var(--accent-color);
//     fill: var(--accent-color);
//   }

//   .contacts & {
//     display: inline-flex;
//     padding-top: 32px;
//     padding-bottom: 32px;
//   }
// }

// .contacts__icon {
//   width: 16px;
//   height: 16px;
//   margin-right: 10px;
//   fill: var(--dominante-color);
//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

//   .contacts__link:focus & {
//     color: var(--accent-color);
//     fill: var(--accent-color);
//   }

//   .contacts & {
//     display: inline-flex;
//   }
// }
