.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  // min-width: 528px;
  // min-height: 581px;
  padding: 40px;
  background-color: var(--color-additional);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close {
  width: 11px;
  height: 11px;
  fill: var(--color-secondary);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .button-modal-window:focus &,
  .button-modal-window:hover & {
    fill: var(--accent-color);
  }
}

.button-modal-window {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 480px) {
  .modal-window {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-window {
    width: 528px;
    height: 581px;
  }
}
